<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Whats Growing On</title>
</head>

<body>
	<div class="header">
		<img src="/images/header-flowers.png" alt="flowers">
		<div class="header-right">
			<a class="active" href="/views/plants/show">Home</a>
			<a href="/users/signin">Login</a>
			<a href="/users/new">Sign Up!</a>
		</div>
	</div>
	<div class="container">
		<div class="card">
			<h1>What can you do here at "Whats Growing On"</h1><br/>
			<p>Here at "Whats Growing On" you can create your own free account and find information about what you want to plant, what you've planted, and what you'd like to plant</p><br/>
			<p>Search through a large library of plants to create your very own garden all inside of one simple APP</p><br/>
		</div>
	</div>

</body>

</html>