<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Whats Growing On</title>
</head>

<body>
	<div class='ripple-background'>
		<div class='circle xxlarge shade1'></div>
		<div class='circle xlarge shade2'></div>
		<div class='circle large shade3'></div>
		<div class='circle mediun shade4'></div>
		<div class='circle small shade5'></div>
	</div>
	<div class="header">
		<img src="/images/header-flowers.png" alt="flowers">
		<div class="header-right">
			<a class="active" href="#home">Home</a>
			<a href="#login">login</a>
			<a href="#signup">Sign Up!</a>
		</div>
	</div>

	<div style="padding-left:20px">
		<h1>What can you do here at "Whats Growing On"</h1>
		<p>Here at "Whats Growing On" you can create your own free account and find information about what you want to plant, what you've planted, and what you'd like to plant</p>
		<p>Search through a large library of plants to create your very own garden all inside of one simple APP</p>
	</div>

</body>

</html>