<nav>
    <div class='ripple-background'>
		<div class='circle xxlarge shade1'></div>
		<div class='circle xlarge shade2'></div>
		<div class='circle large shade3'></div>
		<div class='circle mediun shade4'></div>
		<div class='circle small shade5'></div>
	</div>
	<div class="header">
		<img src="/images/header-flowers.png" alt="flowers">
		<div class="header-right">
			<a href="#home">Home</a>
			<a class="active" href="#profile">Profile</a>
			<a href="#signout">Sign Out</a>
		</div>
	</div>
</nav>