<nav>
	<div class="header">
		<img src="/images/header-flowers.png" alt="flowers">
		<div class="header-right">
			<a href="/plants">Home</a>
			<a href="/plants/new">Add Plant to Garden</a>
			<a href="/">Sign Out</a>
		</div>
	</div>
</nav>