@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');


* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 1em;
  font-family: 'Heebo', sans-serif;
}


/* //////////////////////////ALL PAGES////////////////////////// */
/* //////////////////////////DIV CLASS////////////////////////// */

.header {
  border-radius: 4px;
  overflow: hidden;
  background-color: #000000;
  padding: 20px 10px;

}

.header a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.logo {
  font-family: 'heebo';
  font-size: 45px;
}

.header a.active {
  background-color: slategray;
  color: whitesmoke;
}

.header-center {
  float: inherit;
}

.content {
  color: whitesmoke;
}

.header-right {
  float: right;
}

/* //////////////////////////PROFILE PAGE////////////////////////// */
/* //////////////////////////CARDS AND JAVA////////////////////////// */


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #7ee079;
  height:auto;
}

.card  {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 15px;
  border: 1px solid #000000;
  border-radius: 12px;
  height: unset;
  width: 50em;
  text-align: center;
  background-color:whitesmoke;
}
