<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Whats GROWING ON - New Plants</title>
</head>

<body>
    <header>
        <%- include('../usernav.ejs') %>
    </header>
    
    <div class="container">
    <div class="card">
    <h1>Add your plants to your library as you plant them:</h1>
            <form action="/plants" method="post">
                    <label for="pname">Plant Name:</label>
                    <input type="text" id="pname" name="pname"><br>
                    <label for="dplanted">Date Planted:</label>
                    <input type="month" id="dplanted" name="dplanted" "><br>
                    <label for=" hdate">Harvest Date:</label>
                    <input type="month" name="hdate" "><br>
                    <label for=" sun">Sun: Full - Partial - None:</label>
                    <input type="text" name="sun"><br>
                    <label for="notes">Notes:</label>
                    <input type="text" name="notes"><br>
                    <button type="submit">Add Plant to Garden</button>
                    <a href="/plants">Cancel</a>
            </form>
        </div>
    </div>


    <!-- <form action="/plants" method="POST" autocomplete="off">
        <div>
            <form>
                <fieldset>
                    <legend>Add New Plants to Your Garden:</legend>
                    <label> Plant Name:
                        <input type="text" name="pname">
                    </label>
                    <label>Date Planted:
                        <input type="month" name="dplanted">
                    </label>
                    <label>Harvest Date:
                        <input type="month" name="hdate">
                    </label>
                    <label>Full or Partial Sun:
                        <input type="text" name="sun">
                    </label>
                    <label>Notes:
                        <input type="text" name="notes">
                    </label>
                </fieldset>
                <button type="submit">Add Plant to Your Garden</button>
            </form>
        </div>
    </form> -->

</body>

</html>