<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Whats GROWING ON - Users Plants</title>
</head>

<body>
    <header>
        <%- include('../nav.ejs') %>
    </header>
    <div class="container">
        <div class="card">
            <form action="/plants" method="post">
                <div class="title">
                    <input type="text" name="name"><br>
                </div>
                <div class="content">
                    <input type="month" name="date"><br>
                    <input type="month" name="harvest"><br>
                    <input type="text" name="sun"><br>
                    <input type="text" name="notes"><br>
                    <input type="submit" value="Add Plant">
                </div>
            </form>
        </div>
    </div>
</body>

</html>